<!--(
const ApgTstSpecEventsPartial = {
    module: "apg-tst",
    author: "[APG] ANGELI Paolo Giusto",
    version: "0.9.7 [APG 2023/06/04]",
    remarks: "This version uses the assets from https://apg-cdn.deno.dev and custom bengin/end markup.",
    arguments:["event"]
} 
)-->

<style>
    .tstEvent {
        margin: 0px;
        padding: 0px;
    }

    .tstEvent h1 {
        color: rgb(120, 0, 206);
        margin: 0px;
        padding: 0px;
        font-size: 0.6rem
    }

    .tstEvent h2 {
        color: rgb(82, 0, 158);
        margin: 0px;
        padding: 0px;
        font-size: 1rem
    }

    .tstEvent h3 {
        color: rgb(30, 0, 138);
        margin: 0px;
        padding: 1.2rem 0px 0px 1.2rem;
        font-size: 0.6rem
    }

    .tstEvent h4 {
        color: rgb(36, 40, 125);
        margin: 02px;
        padding: 0px 0px 0px 2.4rem;
        font-size: 0.6rem
    }

    .tstEvent h5 {
        color: rgb(26, 60, 104);
        margin: 0px;
        padding: 0px 0px 0px 3.6rem;
        font-size: 0.6rem
    }

    .tstEvent h6 {
        color: rgb(3, 106, 175);
        margin: 0px;
        padding: 0px 0px 0px 4.8rem;
        font-size: 0.6rem
    }

    .tstEvent p {
        margin: 0px;
        padding: 0px 0px 0px 6.0rem;
        font-size: 0.6rem
    }

    .tstEvent p .success {
        font-weight: bold;
        background-color: green;
        color: white;
    }

    .tstEvent p .failure {
        font-weight: bold;
        background-color: red;
        color: white;
    }

    .tstEvent p .skipped {
        font-weight: bold;
        background-color: gray;
        color: white;
    }
</style>


<!--( if (event.clause == "when") { )-->
<div>
    <!--( { lastHrt = event.hrt; } )-->
    <h4>
        <!--( event.message )-->
    </h4>
</div>
<!--( } )-->

<!--( if (event.clause == "expect") { )-->
<div>
    <!--( { lastHrt = event.hrt; } )-->
    <h5>
        <!--( event.message )-->
    </h5>
</div>
<!--( } )-->

<!--( if (event.clause == "success") { )-->
<div>
    <!--( { deltaTime = event.hrt - lastHrt; } )-->
    <!--( { lastHrt = event.hrt; } )-->
    <h6>
        <!--( event.message )-->
    </h6>
    <p>
        [<!--( deltaTime.toFixed(4) )-->ms]&nbsp;<span class="success">&nbsp;SUCCESS&nbsp;</span>
    </p>

    <!--( if (event.payload != undefined) { )-->
    <div>
        <p>
            <!--( event.payload )-->
        </p>
    </div>
    <!--( } )-->

</div>
<!--( } )-->

<!--( if (event.clause == "failure") { )-->
<div>
    <!--( { deltaTime = event.hrt - lastHrt; } )-->
    <!--( { lastHrt = event.hrt; } )-->
    <h6>
        <!--( event.message )-->
    </h6>
    <p>
        [<!--( deltaTime.toFixed(4) )-->ms]&nbsp;<span class="failure">&nbsp;FAILURE&nbsp;</span>
    </p>

    <!--( if (event.payload != undefined) { )-->
    <div>
        <p>
            <!--( event.payload )-->
        </p>
    </div>
    <!--( } )-->
</div>
<!--( } )-->

<!--( if (event.clause == "skip") { )-->
<div>
    <!--( { lastHrt = event.hrt; } )-->
    <h6>
        <!--( event.message )-->
    </h6>
    <p>
        [<!--( deltaTime.toFixed(4) )-->ms]&nbsp;<span class="skipped">&nbsp;SKIPPED&nbsp;</span>
    </p>
</div>
<!--( } )-->

<!--( if (event.clause == "resume") { )-->
<div>
    <h5>
        <!--( event.message )-->
    </h5>
    <!--( if (event.payload != undefined) { )-->
    <p>
        <!--( event.payload )-->
    </p>
    <!--( } )-->
</div>
<!--( } )-->